@model Bookstore.Models.Author

@{
    ViewData["Title"] = "Детали";
    var photoPath = "~/pictures/" + (Model.Picture);
}

<div style="text-align: left;">
 <span style="float:right;">
<img src="@photoPath"
         height="300" width="180"
         asp-append-version="true" />
 </span>
<p style="text-align: center;font-size: larger; font-weight:bold; "> @Html.DisplayFor(model => model.FullName)</p>      
 <p><strong> Дата на раѓање: </strong>@Html.DisplayFor(model => model.DateofBirth)</p>
@if(Model.DateofDeath!=null)
{
  <p> <strong>Дата на умирање: </strong>@Html.DisplayFor(model => model.DateofDeath)</p>
}
<p>@Html.DisplayFor(model => model.Biography)</p>
<p> <strong>Награди: </strong>@Html.DisplayFor(model => model.Rewards)</p>
 <p>
<a asp-controller="Author" asp-action="MyBooks" asp-route-id="@Model.AuthorID">
   <strong>Книги</strong></a>: @Html.DisplayFor(model => model.Books)
 </p>
</div>
<div>    
    <a asp-action="Edit" asp-route-id="@Model.AuthorID">Измени</a> |
    <a asp-action="Index">Назад</a>
</div>